<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="margin: 0; padding: 0;">
<div>
    <div id="myLeftSidenav" class="left-sidenav">
        <a href="javascript:void(0)">Left Controls</a>
        <a href="/">Home</a>
        <a href="/map">Map</a>
    </div>
    <div id="myRightSidenav" class="right-sidenav">
        <a href="javascript:void(0)">Right Controls</a>
        <a href="/">Home</a>
        <a href="/map">Map</a>
    </div>
    <div id="main">
        <div class="topnav">
            <a href="javascript:void(0)" class="active" onclick="sideNav.toggleNav('left')">&#8660;</a>
            <a href="/home">Home</a>
            <a href="/map">Map</a>
            <a href="/trombone">Pink Trombone</a>
            <a href="/game">Game</a>
            <a href="/logout">Logout</a>
            <a href="javascript:void(0)" style="float:right"class="active" onclick="sideNav.toggleNav('right')">&#8660;</a>
        </div>
        <div class="content">
            <a href="javascript:void(0)">Content goes here</a>
            <script src="/static/js/game.js"></script>
        </div>
    </div>
</div>
</body>
<link rel="stylesheet" type="text/css" href="/static/css/menubar.css">
<link rel="stylesheet" type="text/css" href="/static/css/gameContent.css">
<link rel="stylesheet" type="text/css" href="/static/css/gameSidebar.css">
<script src="/static/node_modules/jquery/dist/jquery.js"></script>
<script src="/static/node_modules/phaser-ce/build/phaser.js"></script>
<script src="/static/node_modules/socket.io-client/dist/socket.io.js"></script>
<script src="/static/js/gameSidebar.js"></script>
</html>